.btn-btn-flat {
  color: white;
  background-color: rgb(110, 216, 110);
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bolder;
  transition: opacity 0.3s ease;
  margin-left: 20em;
}
.btn-btn-flat:hover {
  background-color: rgb(82, 162, 82);
}
